.DS_Store
build/

./iOS/Tapir.xcworkspace/xcuserdata/
./iOS/TapirLib/TapirLib.xcodeproj/xcuserdata/
./iOS/TapirLib/TapirLib.xcodeproj/project.xcworkspace/xcuserdata/
./iOS/TAPIRReceiver/TAPIRReceiver.xcodeproj/xcuserdata/
./iOS/TapirReceiver/TAPIRReceiver.xcodeproj/project.xcworkspace/xcuserdata/
./iOS/TapirTransmitter/TapirTransmitter.xcodeproj/xcuserdata/
./iOS/TapirReceiver/TAPIRReceiver.xcodeproj/project.xcworkspace/xcuserdata/

*.wav
*.swp
*~.nib

